
a {
    text-decoration: none;
}
p {
    text-align: justify;
}
.wrapper {
    min-height: 100vh;
    margin-top: 40px;
}

.login-card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 580px;
}

.form-control {
    border-radius: 5px;
    /* padding-left: 40px; */
}

.input-group-text {
    border: none;
    background: none;
    cursor: pointer;
}

.btn-primary {
    border-radius: 5px;
    padding: 10px 0;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    opacity: 0.8 !important;
}

.btn-primary:active {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    opacity: 0.8 !important;
}

/* inputs */
.autocomplete {
    position: relative;
    /* width: 300px; */
}

.autocomplete input {
    outline: 0px solid transparent !important;
    width: 100%;
    padding: 10px 30px 10px 10px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.autocomplete label {
    position: absolute;
    left: 15px;
    top: 21%;
    transition: 0.2s;
    pointer-events: none;
    color: #666;
}

.autocomplete .dropdown .active {
    background-color: #F2F9FF;
}

.autocomplete input:focus+label,
.autocomplete.filled label {
    outline: none !important;
    border: none !important;
    top: -10px;
    left: 10px;
    background: white;
    padding: 0 5px;
    font-size: 0.75rem;
    color: #6c757d;
}

.autocomplete .clear-btn {
    display: none;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: bold;
    color: #888;
}

.slide-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #252641c7;
    color: #ffffff;
    text-align: center;
    min-height: 95px;
    padding: 11px 0;
    font-size: 16px;
}

.splide__pagination{
    bottom: 1rem !important;
}

.splide .splide__pagination .splide__pagination__page {
    height: 4px !important;
    margin: 5px;
    width: 50px !important;
    border-radius: 5px !important;
    background: #e0e0e0 !important;
    opacity: 1;
}

.splide__arrow {
    display: none;
}

.splide .splide__pagination .splide__pagination__page.is-active {
    background: var(--primary-color) !important;
    transform: none;
}

.back-btn{
    position: absolute;
    top: 50px;
    right: 50px;
    border: 1px solid #ccc;
}
.back-btn:hover{
    background-color: #f8f9fa;
    border-color: #ccc;
    opacity: 1 !important;
}
.left-col{
    position: relative;
}

@media (max-width: 768px) {
    .login-card {
        width: 100% !important;
    }
}
