.footer {
    background-color: #061f10;
    color: #eee;
    padding: 80px 40px;
}

.footer .container {
    /* max-width: 1300px; */
    margin: auto;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.footer-col h3,
.footer-col h4 {
    color: #fff;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 2px solid #646464;
    font-size: 16px;
}

.footer-col h3::after,
.footer-col h4::after {
    content: "";
    display: block;
    width: 95px;
    height: 2px;
    background: var(--primary-color);
    margin-top: 6px;
    position: relative;
    top: 2px;
}
.site-title{
    font-size: 30px !important;
    border-bottom:none !important;
    border-right: 4px solid var(--primary-color);
    padding-right: 10px;
}
.site-title::after{
    display: none !important;
}

.footer-col p {
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-col ul li a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: var(--primary-color);
}

.newsletter-form {
    display: flex;
    margin-top: 10px;
}

.newsletter-form input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 0 4px 4px 0;
    outline: none;
}

.newsletter-form button {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}

.footer-badges {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.footer-badges img {
    height: 65px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icons a {
    color: #ccc;
    font-size: 18px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .footer-columns {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .newsletter-form {
        flex-direction: column;
    }

    .newsletter-form input,
    .newsletter-form button {
        border-radius: 6px;
    }
}