.text-justify {
    text-align: justify;
}

.breadcrumb {
    background-color: transparent;
    padding: 15px 0;
    margin-bottom: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    /* یا "»" */
    float: right;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #6c757d;
}

/* برای راست‌چین کردن کامل */
.breadcrumb {
    direction: rtl;
}

.breadcrumb-item {
    float: right;
}

.breadcrumb-item.active {
    font-weight: 500;
}

/* حذف فاصله اضافی */
.breadcrumb::after {
    content: "";
    display: table;
    clear: both;
}

/* گالری محصول */
.product-gallery {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, .1); */
    height: 500px;
}

/* عکس اصلی */
.product-image-show {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: crosshair;
    display: block;
}

/* لنز */
.zoom-lens {
    position: absolute;
    width: 180px;
    /* اندازه دلخواه لنز */
    height: 180px;
    /* اندازه دلخواه لنز */
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity .12s ease;
    border: 3px solid #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .35);
    z-index: 30;
    background: #fff;
}

/* تصویر داخل لنز را از طریق JS سایز / موقعیت می‌کنیم */
.zoom-lens img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
}

.view-gallery {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    /* padding: 8px 15px; */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 20;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-gallery:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/* استایل برای اسلایدر اصلی */
.main-slider {
    height: 100%;
}

.main-slider .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-slider .swiper-button-next,
.main-slider .swiper-button-prev {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-slider .swiper-button-next:after,
.main-slider .swiper-button-prev:after {
    font-size: 1.2rem;
}

.product-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 30px;
    color: #777777;
}

.rating {
    color: #ffc107;
    margin-bottom: 15px;
}

.rating i {
    font-size: 11px;
}

.rating span {
    font-size: 12px;
}

.product-specs {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.product-specs li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #777;
}

.product-specs li:last-child {
    border-bottom: none;
}

.price-section {
    margin: 20px 0;
}

.original-price {
    text-decoration: line-through;
    color: #bbb;
    font-size: 20px;
}

.discounted-price {
    font-size: 22px;
    font-weight: 700;
    color: var(--primary-color);
    margin-right: 10px;
}

.stock-info {
    font-size: 12px;
    color: #858796;
    margin-bottom: 8px;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.quantity-btn {
    width: 20px;
    height: 40px;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
}

.quantity-btn:hover {
    background-color: #f8f9fa;
}

.quantity-input {
    width: 30px;
    height: 40px;
    text-align: center;
    border: none;
    border-left: none;
    border-right: none;
}

.add-to-cart-show {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.add-to-cart-show:hover {
    background-color: var(--secondary-color);
}

.action-buttons a {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color);
    text-decoration: none;
    transition: all 0.25s ease;
}

.action-buttons a:hover {
    opacity: 0.8;
}

.action-btn {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s;
}

.action-btn:hover {
    background-color: #f8f9fa;
    border-color: var(--primary-color);
}

.discount-alert {
    background-color: #e8f5e9;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.progress-container {
    margin-bottom: 20px;
}

.progress-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.progress-text {
    font-size: 12px;
    color: #555;
    font-weight: 400;
}

.progress {
    height: 4px;
    border-radius: 5px;
}

.progress-bar {
    background-color: var(--primary-color);
}

.categories-tags {
    margin-bottom: 20px;
}

.color-title {
    font-size: 14px;
}

.tag {
    display: inline-block;
    text-decoration: none;
    /* background-color: #e9ecef; */
    margin: 5px 5px 5px 0;
    font-size: 0.85rem;
    transition: background-color 0.3s;
    color: #555;
}

.share-section {
    margin-top: 20px;
}

.share-buttons {
    display: flex;
    gap: 10px;
}

.share-btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    transition: transform 0.3s;
    text-decoration: none;
}

.share-btn:hover {
    transform: translateY(-3px);
}

.telegram {
    background-color: #0088cc;
}

.whatsapp {
    background-color: #25d366;
}

.twitter {
    background-color: #1da1f2;
}

.linkedin {
    background-color: #0077b5;
}

/* Modal Styles */
.modal-content {
    border-radius: 10px;
    overflow: hidden;
}

.modal-header {
    border-bottom: 1px solid #eee;
    background-color: var(--primary-color);
    color: white;
}

.btn-close {
    filter: invert(1);
}

.modal-swiper {
    width: 100%;
    height: 500px;
}

.modal-swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-swiper .swiper-button-next,
.modal-swiper .swiper-button-prev {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modal-swiper .swiper-button-next:after,
.modal-swiper .swiper-button-prev:after {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .product-gallery {
        height: 300px;
    }

    .modal-swiper {
        height: 300px;
    }
}

.point-span {
    font-size: 14px;
    color: #a7a7a7;
}

.info-badge-icon {
    font-size: 2rem;
    color: #327942;
    position: relative;
    bottom: 2px;
}
